
<div class="row" ng-controller="test">
  <div class="alert alert-success" role="alert">Well, doesn't that look awesome?</div>

  <div class="col-md-6">
    <h1>Another page</h1>
    <p>
      Here you can try angular in a funny way, type your username in the input box
      and see it appear in the text below. How awesome is that?<br/>
      Also, you can see that there is another controller here.
    </p>

    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">@</span>
      <input type="text" class="form-control" placeholder="Type a username" ng-model="username">
    </div>

    <h4>Your username is <u>[[ username ]]</u> and the message is <u>[[ message ]]</u></h4>

  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
