<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">photok</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="/link">Contests</a></li>
        <li><a href="/link">Link</a></li>
        <li><a href="/link">User</a></li>
      </ul>
    </div>
  </div>
</nav>
