
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Search for stuff</div>
			<div class="panel-body">
				Search: <input ng-model="query">
				Sort by:
				<select ng-model="orderProp">
					<option value="headline">Alphabetical</option>
					<option value="createdDate">Newest</option>
				</select>
			</div>
		</div>

	</div>
	<!-- end of col -->

	<div class="col-md-3" ng-repeat="contest in contests | filter:query | orderBy:orderProp"
	 class="thumbnail contest-listing">
		<a href="contests/{{contest.id}}">
			contests/{{contest.id}}
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
			<span>{{contest.id}} | {{contest.headline}}</span>
		</a>
	</div>
	<!-- end of col -->

</div>
