<div ng-show="participate" id="participation"
style="width:80%;margin:auto;position:fixed;top:20%;
box-shadow:0 0 30px grey;background:white;z-index:999999;" class="container">
  <div class="row" style="padding:2em">
    <h2>Participate</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <hr/>

    <form enctype="multipart/form-data" name="form" method="post" class="css-form" ng-submit="sendImage()" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title*</label>
            <input type="text" ng-model="participation.title" name="title" required="" placeholder="Title"/>
          </div>
          <div ng-show="form.$submitted || form.title.$touched">
            <div ng-show="form.title.$error.required" class="alert alert-danger">What is the title of your participation?</div>
          </div>

          <div class="form-group">
            <label for="image">Image*</label>
            <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</div>
    <!--
            <input type="file" file-model="freakinimage" name="file"/>

            <input type="file" ng-model="participation.image" name="file" required="" placeholder="Image"/>
            -->
          </div>
          <div ng-show="form.$submitted || form.image.$touched">
            <div ng-show="form.image.$error.required" class="alert alert-danger">What is the image of your participation?</div>
          </div>
        </div>


        <div class="col-md-6">
          <h4>Image preview</h4>
 <img ngf-thumbnail="file || '/thumb.jpg'">
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <input type="submit" class="btn btn-success btn-lg pull-right" value="Send"/>
          <a href=""><button ng-click="participate=false" type="button" class="btn btn-warning btn-lg pull-right">Close</button></a>
        </div>
      </div>
    </form>

  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12" style="text-align:center">
		<h3>{{contest.headline}}</h3>
    <p style="font-size:130%;font-weight:300;width:70%;margin:auto;">"{{contest.description}}"</p>
    <p style="color:red;font-size:80%;">If you are an admin, you can <a href="/edit/{{contest.id}}">click here to edit</a> this contest.</p>
  </div>
</div>


<div class="row" style="background-color:#eaeaea;padding-top:1em">
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9 thumb" style="text-align:center">
      <div class="row">
        <div class="col-md-4"><span style="font-size:160%;font-weight:lighter">created</span><br/><span style="font-size:230%;">{{contest.createdDate}}</span></div>
        <div class="col-md-4"><span style="font-size:160%;font-weight:lighter">started</span><br/><span style="font-size:230%;">{{contest.startDate}}</span></div>
        <div class="col-md-4"><span style="font-size:160%;font-weight:lighter">can participate until</span><br/><span style="font-size:230%;">{{contest.endDate}}</span></div>
      </div>
      <hr/>
      <div class="row" ng-if="!contest.past">
        <div class="col-md-12" style="font-size:160%;font-weight:100">You still have <b>{{contest.span}}</b> to participate<br/>
          <a ng-if="!contest.past" ng-click="displayPopUp()"><button type="button" class="btn btn-lg btn-success">Participate</button></a>
        </div>
      </div>
      <div class="alert alert-danger" ng-if="contest.past"><b>Oops</b>, seems like you cannot participate anymore, sorry</div>

    </div>
</div>

<div ng-if="contest.past">
  <h3>Winners</h3>

  <div ng-show="!hidewinners">
    <div class="row" style="text-align:center;">
      <div class="col-md-4">
        <h2>#2</h2>
        <img src="{{winners.second.path}}" width="75%"/><br/>
        <p style="margin-top:2em">{{winners.second.title}}</p>
      </div>
      <div class="col-md-4" style="font-size:160%;">
        <h2>#1</h2>
        <img src="{{winners.first.path}}" width="95%"/><br/>
        <p style="margin-top:2em">{{winners.first.title}}</p>
      </div>
      <div class="col-md-4">
        <h2>#3</h2>
        <img src="{{winners.third.path}}" width="75%"/><br/>
        <p style="margin-top:2em">{{winners.third.title}}</p>
      </div>
    </div>
  </div>
  <div ng-show="hidewinners">
    <div class="alert alert-danger" style="text-align:center;"><b>Oops</b>, the organizer didn't deicde on a winner just yet</div>
  </div>



</div>

<h3>Participations</h3>

<div class="row" ng-repeat="p in participations track by $index" ng-if="$index % 4 == 0">

  <div class="col-md-3 thumb"
       ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
       ng-if="participations[i] != null">

        <a class="thumbnail" href="#">
            <img class="img-responsive" src="{{participations[i].path}}" alt="">
        </a>
        <h4 class="text-center">{{participations[i].title}} {{$index}}</h4>
        <ul>
          <li><b>real data</b></li>
          <li>title: {{participations[i].title}}</li>
          <li>id: {{participations[i].id}}</li>
          <li>uploadedOn: {{participations[i].uploadedOn}}</li>
          <li>userId: {{participations[i].userId}}</li>
        </ul>
    </div>

</div>
