<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
			<h1>Contest name: {{contest.headline}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9 thumb">
        <p>
				Created at: {{contest.createdDate}}<br>
				Contest starts at: {{contest.startDate}}
				Voting method: {{contest.voteMethod}} <br>
				Voting possible until: {{contest.endDate}}
				</p>
    </div>
</div>

<!-- if the image api is working you should enter your code here -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h2 class="text-center">User001</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h2 class="text-center">User002</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h2 class="text-center">User003</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </a>
        <h2 class="text-center">User004</h2>
    </div>
</div>
