<div class="row">

  <div class="col-md-12">
    <h2>Edit a contest</h2>
    <p><span class="badge">info</span> This page should only be seen by <b>the creator of the contest</b></p>

    <a href="" ng-click="deleteContest()"><button type="button" class="btn btn-danger">Delete the contest</button></a>

    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Information</h3>

    <form name="form" class="css-form" ng-submit="editContest()" novalidate>

      <div class="form-group">
        <label for="headline">Headline*</label>
        <input type="text" ng-model="contest.headline" name="headline" required="" placeholder="Headline"/>
      </div>
      <div ng-show="form.$submitted || form.headline.$touched">
        <div ng-show="form.headline.$error.required" class="alert alert-danger">What is the headline of your contest?</div>
      </div>

      <div class="form-group">
        <label for="theme">Theme*</label>
        <input type="text" ng-model="contest.theme" name="theme" required="" placeholder="theme"/>
      </div>
      <div ng-show="form.$submitted || form.theme.$touched">
        <div ng-show="form.theme.$error.required" class="alert alert-danger">What is the theme of your contest?</div>
      </div>

      <div class="form-group">
        <label for="workingtitle">Working title*</label>
        <input type="text" ng-model="contest.workingTitle" name="workingtitle" required="" placeholder="Working title"/>
      </div>
      <div ng-show="form.$submitted || form.workingtitle.$touched">
        <div ng-show="form.workingtitle.$error.required" class="alert alert-danger">What is the working title of your contest?</div>
      </div>

      <!-- ... http://stackoverflow.com/questions/17063000/ng-model-for-input-type-file
      <div class="form-group">
        <label for="headline">Image*</label>
        <input type="file" ng-model="formValue.image" name="image" required="" placeholder="Image"/>
      </div>
      <div ng-show="form.$submitted || form.image.$touched">
        <div ng-show="form.image.$error.required" class="alert alert-danger">What is the image of your contest?</div>
      </div>-->

      <div class="form-group">
        <label for="description">Description*</label>
        <input type="text" ng-model="contest.description" name="description" required="" placeholder="Description"/>
      </div>
      <div ng-show="form.$submitted || form.description.$touched">
        <div ng-show="form.description.$error.required" class="alert alert-danger">What is the description of your contest?</div>
      </div>

      <div class="form-group">
        <label for="startdate">Start date*</label>
        <input type="date" ng-model="contest.startDate" name="startdate" required="" placeholder="YYYY-MM-DD"/>
      </div>
      <div ng-show="form.$submitted || form.startdate.$touched">
        <div ng-show="form.startdate.$error.required" class="alert alert-danger">What is the startdate of your contest?</div>
        <div ng-show="!form.startdate.$valid" class="alert alert-danger">The date doesn't seem valid</div>
      </div>

      <div class="form-group">
        <label for="enddate">End date*</label>
        <input type="date" ng-model="contest.endDate" name="enddate" required="" placeholder="YYYY-MM-DD"/>
      </div>
      <div ng-show="form.$submitted || form.enddate.$touched">
        <div ng-show="form.enddate.$error.required" class="alert alert-danger">What is the end date of your contest?</div>
        <div ng-show="!form.enddate.$valid" class="alert alert-danger">The date doesn't seem valid</div>
      </div>

      <!--
      <tt>value = {{example.value | date: "yyyy-MM-dd"}}</tt><br/>
      <tt>form.enddate.$valid = {{form.enddate.$valid}}</tt><br/>
      <tt>form.enddate.$error = {{form.enddate.$error}}</tt><br/>
      <tt>form.$valid = {{form.$valid}}</tt><br/>
      <tt>form.$error.required = {{!!form.$error.required}}</tt><br/>
      -->


      <div class="form-group">
        <label for="description">Only jury can vote</label>
        <input type="checkbox" ng-model="contest.onlyJury" name="userAgree" required="" />
      </div>

      <input type="submit" class="btn btn-success" value="Edit" /><hr/>
    </form>
    <pre>contest = {{contest | json}}</pre>
    <pre>formValue = {{formValue | json}}</pre>
  </div>
    <div class="col-md-6">
      <h3 style="display:inline;">Participations</h3>
      <a href="/vote/{{contest.id}}" style="float:right;"><button type="button" class="btn btn-primary">Select a winner</button></a>
      <hr/>

      <div class="row">
        <div class="col-md-6 thumb" ng-repeat="i in participations">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="{{i.path}}" alt="">
            </a>
            <h4 class="text-center">{{i.title}} <span class="badge" ng-if="i.prize != 0">#{{i.prize}}</span></b></h4>
            <ul>
              <li><b>real data</b></li>
              <li>title: {{i.title}}</li>
              <li>id: {{i.id}}</li>
              <li>uploadedOn: {{i.uploadedOn}}</li>
              <li>userId: {{i.userId}}</li>
            </ul>
        </div>
      </div>

    </div>
  </div>


</div>
