
<div class="jumbotron">
  <h1>Welcome to <b>photok</b></h1>
  <p>photok is the best web application to create and take part in photo contests</p>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</div>

<div class="row">
  <div class="col-md-6">
    <h2>What can you do?</h2>
    <p style="font-size:120%">Users should be able to register and log in. They should be able to create a contest and participate in every contest.<br/>
      A participation consists of sending a picture for a specific contest.<br/>
      When the contest ends, a group of specific users (the jury) will decide on winners.<br/>
      There can also be a "people's prize", where users have to vote for their favourite image.

    </p>



  </div>

  <div class="col-md-6">
    <h2>In details...</h2>

    <h4>Users</h4>
    <p>You can log in using the following credentials:
      <ul><li><b>username:</b> test</li><li><b>password:</b> test</li></ul>
    </p>

    <h4>Contests</h4>
    <ul class="list-group">
      <li class="list-group-item"><code>Select winners</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>Delete a contest</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>Edit a contest</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>Create a contest</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>See list of contests</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>See details for specific contest</code><i style="float:right">Done</i></li>
    </ul>

    <h4>Images</h4>
    <ul class="list-group">
      <li class="list-group-item"><code>See list of images for contest</code><i style="float:right">Done</i></li>
      <li class="list-group-item"><code>Send an image for a contest</code><i style="float:right">Connectivity is done, need to store image</i></li>
    </ul>
  </div>
</div>
