<!DOCTYPE html>
<html lang="en" ng-app="photok">
	<head>

		<base href="/">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title ng-bind="'photok &mdash; ' + title">photok</title>
		<!-- <link rel="stylesheet" href="stylesheet.css" type="text/css"> -->

		<!-- Bootstrap, basic design -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		-->

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>
		<script src="static/js/controllers.js"></script>
		<script src="static/js/services.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/js/moment.min.js"></script>
		<script src='static/js/ng-file-upload.min.js'></script>
		<script src='static/js/ng-file-upload-shim.min.js'></script>

		<!-- added these to try and fix upload -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/1.6.1/angular-file-upload.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/1.6.1/angular-file-upload-shim.js"></script>
		<!-- added these to try and fix upload -->

		<!-- only for vote page -->
		<style>
#vote label {
	float:left;
	background-color:#EFEFEF;
	border-radius:4px;
	border:1px solid #D0D0D0;
	overflow:auto;
}

				#vote label span {
					padding: 0.5em;
					text-align:center;
					display:block;
				}

				#vote label input {
					position:absolute;
					top:-20px;
				}

				#vote label.green input:checked + span {
					background-color:green;
					color:#F7F7F7;
				}
				#vote label.blue input:checked + span {
					background-color:blue;
					color:#F7F7F7;
				}
				#vote label.red input:checked + span {
					background-color:red;
					color:#F7F7F7;
				}
		</style>

		<body>

			<div class="container" style="margin-top:1em;">
				<div class="header clearfix">
					<nav ng-controller="HeaderController">
						<div ng-if="error" class="alert alert-danger">{{error}}</div>
						<ul class="nav nav-pills pull-right">

							<li role="presentation" ng-class="{ active: isActive('/add')}" ><a ui-sref="create-contest">Add contest</a></li>
							<li role="presentation" ng-class="{ active: isActive('/contests')}" ><a ui-sref="contest-list">Contests</a></li>
							<li role="presentation" ng-class="{ active: isActive('/login')}" ><a ui-sref="login">Login</a></li>
							<li role="presentation" ng-class="{ active: isActive('/logout')}" ><a ui-sref="logout">Logout</a></li>
						</ul>
					</nav>
					<h3 class="text-muted">photok</h3>
				</div>
				<hr/>
			</div>

			<div class="container"><span class="label label-info">main.html</span></div>
			<div class="view-container">
				<div ui-view class="view-frame container"></div>
			</div>


			<div class="footer" style="background:#222;padding:2em;color:#666;margin-top:2em;">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3>photok</h3>
							<p>map of the website</p>
						</div>
						<div class="col-md-6">
							<h4>about</h4>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>
				</div>

			</div>

		</body>
</html>
